.bb{
background-image:url("https://as1.ftcdn.net/v2/jpg/05/46/57/52/1000_F_546575243_jNtyYntyxkBfAGSk3KXFPhnTPfBAJHS1.jpg");
background-repeat: no-repeat;
background-position: center;
background-size:contain;
background-attachment: fixed;
}